#  Project 1 : Python and MySQL
Create a Database in MySQL: 
Create a Table employee with following fields:
Empid        (Primary Key)
First name
Last name
Age
Gender
Salary
City
Department

Create a table department with following fields:
Deptid
Deptname

(Use suitable datatype and apply necessary Constraints)

Create a Jupyter Notebook and Create functions to connect and fire queries : Select, insert, insert many, update, delete on the database.

In [1]:
# installing mysql_connector_python

!pip install mysql_connector-python

Requirement already satisfied: mysql_connector-python in c:\users\user\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\user\anaconda3\lib\site-packages (from mysql_connector-python) (3.20.3)

In [4]:
# importing  mysql.connector

import mysql.connector

In [5]:
# connecting to the DB

db=mysql.connector.connect(host='localhost',
                  user='root',
                  password='Vyshnavi@2023',
                  database='project1')

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ECA8A1F6D0>

In [9]:
# reference to the DB

cursor=db.cursor()

# Create Employee table

In [10]:

emp="create table if not exists Employee1(emp_id int primary key,first_name varchar(20),last_name varchar(20),age int,gender varchar(10),salary int,city varchar(25),department varchar(25))"
cursor.execute(emp)

In [11]:
db.commit()

# Insert into Employee

In [12]:
emp="insert into Employee1 values(01,'Vyshnavi','MR',26,'F',12000,'Bangalore','IT')"
cursor.execute(emp)

In [13]:
db.commit()

In [14]:
emp="insert into Employee1 values(02,'Aswathy','MR',23,'F',18000,'Chennai','IT')"
cursor.execute(emp)

In [15]:
db.commit()

In [16]:
emp="insert into Employee1 values(03,'Amal','MR',29,'M',28000,'Kochi','Marketing')"
cursor.execute(emp)

In [17]:
db.commit()

In [18]:
emp="insert into Employee1 values(04,'Raju','Ms',40,'M',28500,'Kochi','Marketing')"
cursor.execute(emp)

In [19]:
db.commit()

In [20]:
emp="insert into Employee1 values(05,'Bindhu','PK',35,'M',28000,'Kochi','Sales')"
cursor.execute(emp)

In [21]:
db.commit()

# Select Employee Info

In [26]:
emp="select * from Employee1"
cursor.execute(emp)

rows=cursor.fetchall()

In [27]:
for row in rows:
    print(row)

(1, 'Vyshnavi', 'MR', 26, 'F', 12000, 'Bangalore', 'IT')
(2, 'Aswathy', 'MR', 23, 'F', 18000, 'Chennai', 'IT')
(3, 'Amal', 'MR', 29, 'M', 28000, 'Kochi', 'Marketing')
(4, 'Raju', 'Ms', 40, 'M', 28500, 'Kochi', 'Marketing')
(5, 'Bindhu', 'PK', 35, 'M', 28000, 'Kochi', 'Sales')

# Update Employee

In [35]:
# update city with Delhi where emp_id is 3

emp="update Employee1 set city='Delhi' where emp_id=3 "
cursor.execute(emp)

db.commit()

# Delete

In [37]:
# delete last employee(emp_id=5) from employee1 table

emp="delete from Employee1 where emp_id=5"
cursor.execute(emp)

db.commit()

# Create Department table

In [58]:
dep="create table DEPT(dept_id varchar(10),dept_name varchar(30))"
cursor.execute(dep)

In [59]:
db.commit()

# Insert into Dept

In [60]:
dep="insert into DEPT values('AB01','Operation Management')"
cursor.execute(dep)

db.commit()

In [61]:
dep="insert into DEPT values('AB02','HR')"
cursor.execute(dep)

db.commit()

In [62]:
dep="insert into DEPT values('AB03','Marketing')"
cursor.execute(dep)

db.commit()

In [63]:
dep="insert into DEPT values('AB04','IT')"
cursor.execute(dep)

db.commit()

In [64]:
dep="insert into DEPT values('AB05','Sales')"
cursor.execute(dep)

db.commit()

# Select Dept

In [69]:
dep="select * from DEPT"
cursor.execute(dep)

rows=cursor.fetchall()

In [70]:
for row in rows:
    print(row)

('AB01', 'Operation Management')
('AB02', 'HR')
('AB03', 'Marketing')
('AB04', 'IT')
('AB05', 'Sales')

# Update Dept

In [72]:
# update dept_name with HR where dept_id is AB03

dep="update DEPT set dept_name='HR' where dept_id='AB03' "
cursor.execute(dep)

db.commit()

# Delete

In [74]:
# delete dep_id=AB02 from department table

dep="delete from DEPT where dept_id='AB02'"
cursor.execute(dep)

db.commit()